<div id="it-service2">
  <app-navbar
    [button]="false"
    header="IT services are the activities that enable 
  businesses to access"
    text="We’ll take care of all your corporate IT requirements with our extensive IT, cloud, networking, and cybersecurity knowledge."
    height="sec-height2"
    image="it-service2"
  ></app-navbar>
  <div class="sec1 container">
    <div class="transform">
      <div
        class="card card1 p-5 d-flex justify-content-center align-items-md-start align-items-center flex-column"
      >
        <div class="d-flex justify-content-between w-100">
          <h6 class="d-flex justify-content-center align-items-center m-0">
            HOME / IT SERVICES
          </h6>
          <div
            class="col-md-4 d-flex justify-content-center align-items-center"
          >
            <a href="" class="btn text-white bg-transparent px-4 py-2"
              >Connect us</a
            >
          </div>
        </div>
        <h1 class="my-5">IT SERVICES</h1>
        <p class="pe-4">
          IT services are the activities that enable businesses to access and
          use the technical tools and information they need for their operations
          and tasks. IT services can be provided by internal teams or external
          contractors, depending on the needs and resources of the business.
          Some common types of IT services are:
        </p>
      </div>
    </div>
    <div class="row pt-5 mt-3 g-5 transform">
      <div class="col-6 position-relative border-left my-0">
        <div
          class="card card-2 border-0 rounded-0 p-4 d-flex flex-column justify-content-center align-items-center align-items-md-start"
        >
          <div class="d-flex my-3 justify-content-center align-items-center">
            <h3 class="mb-0 pb-3">Cloud Computing</h3>
          </div>
          <p>
            This service provides access to computing resources such as servers,
            storage, databases, and applications over the internet. Clients can
            use cloud services to store, process, and analyze data without
            having to invest in their own infrastructure.
          </p>
          <img
            src="assets/images/rm373-socialpost-03-45.svg"
            class="w-100 img-height"
            alt="notfound"
          />
        </div>
      </div>
      <div class="col-6 my-0">
        <div
          class="card card-2 border-0 rounded-0 p-4 d-flex flex-column justify-content-center align-items-center align-items-md-start"
        >
          <div class="d-flex my-3 justify-content-center align-items-center">
            <h3 class="pb-3 mb-0">Backup solutions</h3>
          </div>
          <p>
            This service provides access to computing resources such as servers,
            storage, databases, and applications over the internet. Clients can
            use cloud services to store, process, and analyze data without
            having to invest in their own infrastructure.
          </p>
          <img
            src="assets/images/rm373-socialpost-03-45.svg"
            class="w-100 img-height"
            alt="notfound"
          />
        </div>
      </div>
    </div>
    <div class="row gx-5 transform">
      <div class="col-6 position-relative border-left my-0">
        <div
          class="card card-2 border-0 rounded-0 p-4 d-flex flex-column justify-content-center align-items-center align-items-md-start"
        >
          <div class="d-flex my-3 justify-content-center align-items-center">
            <h3 class="mb-0 pb-3">Security Services</h3>
          </div>
          <p>
            This service provides access to computing resources such as servers,
            storage, databases, and applications over the internet. Clients can
            use cloud services to store, process, and analyze data without
            having to invest in their own infrastructure.
          </p>
          <img
            src="assets/images/rm373-socialpost-03-45.svg"
            class="w-100 img-height"
            alt="notfound"
          />
        </div>
      </div>
      <div class="col-6 my-0">
        <div
          class="card card-2 border-0 rounded-0 p-4 d-flex flex-column justify-content-center align-items-center align-items-md-start"
        >
          <div class="d-flex my-3 justify-content-center align-items-center">
            <h3 class="pb-3 mb-0">Systems Integration</h3>
          </div>
          <p>
            This service provides access to computing resources such as servers,
            storage, databases, and applications over the internet. Clients can
            use cloud services to store, process, and analyze data without
            having to invest in their own infrastructure.
          </p>
          <img
            src="assets/images/rm373-socialpost-03-45.svg"
            class="w-100 img-height"
            alt="notfound"
          />
        </div>
      </div>
    </div>
    <div class="row gx-5 transform">
      <div class="col-6 position-relative border-left my-0">
        <div
          class="card card-2 border-0 rounded-0 p-4 d-flex flex-column justify-content-center align-items-center align-items-md-start"
        >
          <div class="d-flex my-3 justify-content-center align-items-center">
            <h3 class="mb-0 pb-3">Managed IT Service</h3>
          </div>
          <p>
            This service provides access to computing resources such as servers,
            storage, databases, and applications over the internet. Clients can
            use cloud services to store, process, and analyze data without
            having to invest in their own infrastructure.
          </p>
          <img
            src="assets/images/rm373-socialpost-03-45.svg"
            class="w-100 img-height"
            alt="notfound"
          />
        </div>
      </div>
      <div class="col-6 my-0">
        <div
          class="card card-2 border-0 rounded-0 p-4 d-flex flex-column justify-content-center align-items-center align-items-md-start"
        >
          <div class="d-flex my-3 justify-content-center align-items-center">
            <h3 class="pb-3 mb-0">IT Outsourcing</h3>
          </div>
          <p>
            This service provides access to computing resources such as servers,
            storage, databases, and applications over the internet. Clients can
            use cloud services to store, process, and analyze data without
            having to invest in their own infrastructure.
          </p>
          <img
            src="assets/images/rm373-socialpost-03-45.svg"
            class="w-100 img-height"
            alt="notfound"
          />
        </div>
      </div>
    </div>
    <div class="row border-0 gx-5 transform">
      <div class="col-6 position-relative border-left my-0">
        <div
          class="card card-2 border-0 rounded-0 p-4 d-flex flex-column justify-content-center align-items-center align-items-md-start"
        >
          <div class="d-flex my-3 justify-content-center align-items-center">
            <h3 class="mb-0 pb-3">Software Development</h3>
          </div>
          <p>
            This service provides access to computing resources such as servers,
            storage, databases, and applications over the internet. Clients can
            use cloud services to store, process, and analyze data without
            having to invest in their own infrastructure.
          </p>
          <img
            src="assets/images/rm373-socialpost-03-45.svg"
            class="w-100 img-height"
            alt="notfound"
          />
        </div>
      </div>
      <div class="col-6 my-0">
        <div
          class="card card-2 border-0 rounded-0 p-4 d-flex flex-column justify-content-center align-items-center align-items-md-start"
        >
          <div class="d-flex my-3 justify-content-center align-items-center">
            <h3 class="pb-3 mb-0">Database Management</h3>
          </div>
          <p>
            This service provides access to computing resources such as servers,
            storage, databases, and applications over the internet. Clients can
            use cloud services to store, process, and analyze data without
            having to invest in their own infrastructure.
          </p>
          <img
            src="assets/images/rm373-socialpost-03-45.svg"
            class="w-100 img-height"
            alt="notfound"
          />
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
