<footer class="pt-5">
  <div class="container">
    <div id="footer-sec1" class="border-bottom pb-4">
      <div class="row g-4 mb-2">
        <div class="col-md-5">
          <img src="assets/images/Group 5.svg" alt="" />
        </div>
        <div class="col-md-3">
          <div
            class="w-100 h-100 d-flex flex-column justify-content-center align-items-center"
          >
            <h4 class="text-white">Sign up for our emails</h4>
            <p class="text-white m-0">
              Be the first to hear about new magazines, special offers,
              competitions and receive exclusive discounts too!
            </p>
          </div>
        </div>
        <div class="col-md-4 d-flex align-items-center">
          <div class="form w-100 d-flex">
            <input
              type="text"
              class="form-control py-3 rounded-0 w-100"
              placeholder="Your email address"
            />
            <button
              class="btn btn-primary ms-3 px-4 py-3 d-flex justify-content-center align-items-center rounded-0"
            >
              <img src="assets/images/Right arrow.svg" class="ps-1" alt="" />
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row g-4">
      <div class="col-md-3 p-3 pe-5">
        <div
          class="card border-0 d-flex flex-column justify-content-center align-items-start"
        >
          <h4 class="mb-3">CONTACT DETAILS</h4>
          <div
            class="card-body p-0 d-flex flex-column justify-content-center align-items-start"
          >
            <p class="m-0">Telephone: 0123-456-789</p>
            <p class="email m-0">
              Email:
              <a routerLink="/about-us" class="text-decoration-none"
                >info@Cloudpro.com.com</a
              >
            </p>
            <p>1765. Province, Cairo. Address, Ahmed Fouad breeze u</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 p-3">
        <div
          class="card border-0 d-flex flex-column justify-content-center align-items-start"
        >
          <h4 class="mb-3">COMPANY</h4>
          <div
            class="card-body p-0 d-flex flex-column justify-content-center align-items-start"
          >
            <p class="m-0">
              <a routerLink="/about-us" class="text-decoration-none"
                >About Us</a
              >
            </p>
            <p class="m-0">
              <a routerLink="/about-us" class="text-decoration-none"
                >Meet our Team</a
              >
            </p>
            <p class="m-0">
              <a routerLink="/about-us" class="text-decoration-none"
                >Contact Us</a
              >
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 p-3">
        <div
          class="card border-0 d-flex flex-column justify-content-center align-items-start"
        >
          <h4 class="mb-3">OUR SERVICES</h4>
          <div
            class="card-body p-0 d-flex flex-column justify-content-center align-items-start"
          >
            <p class="m-0">
              <a routerLink="/about-us" class="text-decoration-none"
                >Monitoring Services</a
              >
            </p>
            <p class="m-0">
              <a routerLink="/about-us" class="text-decoration-none"
                >Data Backup and Restoration</a
              >
            </p>
            <p class="m-0">
              <a routerLink="/about-us" class="text-decoration-none"
                >Firewall Services</a
              >
            </p>
            <p class="m-0">
              <a routerLink="/about-us" class="text-decoration-none"
                >Cybersecurity Services</a
              >
            </p>
            <p class="m-0">
              <a routerLink="/about-us" class="text-decoration-none">
                Office 365/Email</a
              >
            </p>
            <p class="m-0">
              <a routerLink="/about-us" class="text-decoration-none">
                Remote Support</a
              >
            </p>
            <p class="m-0">
              <a routerLink="/about-us" class="text-decoration-none">
                Mobile and Remote Networking</a
              >
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 p-3">
        <div
          class="card h-100 border-0 d-flex flex-column justify-content-center align-items-start"
        >
          <h4 class="mb-3">FOLLOW US</h4>
          <div
            class="card-body  p-0 d-flex flex-column justify-content-between align-items-start"
          >
            <div>
              <p class="m-0">
                <a routerLink="/about-us" class="text-decoration-none"
                  >Facebook</a
                >
              </p>
              <p class="m-0">
                <a routerLink="/about-us" class="text-decoration-none"
                  >Instagram</a
                >
              </p>
              <p class="m-0">
                <a routerLink="/about-us" class="text-decoration-none"
                  >Linkedin</a
                >
              </p>
            </div>
            <p class="">© Copyright CloudPro 2023</p>
          </div>
        </div>
      </div>

      <div class="col-md-1"></div>
    </div>
  </div>
</footer>
