<div id="software-development">
  <app-navbar
    [button]="false"
    height="sec-height2"
    image="contact-us"
  ></app-navbar>
  <div class="sec1 container">
    <div class="transform">
      <div
        class="card card1 py-3 px-5 d-flex justify-content-center align-items-md-start align-items-center flex-column"
      >
        <div class="d-flex justify-content-between w-100">
          <h6 class="d-flex justify-content-start align-items-center m-0">
            HOME / CONTACT US
          </h6>
        </div>
        <h1 class="my-5">Contact us</h1>
        <div class="row min-h">
          <div
            class="col-md-4 d-flex justify-content-center align-items-center px-5 bg-img"
          >
            <p>
              We look forward to hearing from you and answering any questions
              you may have about our software development services.
            </p>
          </div>
          <div
            class="col-md-4 d-flex flex-column justify-content-center align-items-md-start align-items-center px-5"
          >
            <h4 class="text-white mb-4">HEAD OFFICE</h4>
            <p class="mb-5">
              Al sarag mall, building 3, 4th floor - Nasr City, +202 20104 44456
            </p>
            <h6 class="text-white">Customerservice@CloudPro.com</h6>
          </div>
          <div
            class="col-md-4 d-flex flex-column justify-content-center align-items-md-start align-items-center px-5"
          >
            <h4 class="text-white mb-4">SOCIAL MEDIA</h4>
            <a href="" class="text-white mb-3">FACEBOOK </a>
            <a href="" class="text-white mb-3">YOUTUBE </a>
            <a href="" class="text-white mb-3">INSTAGRAM </a>
            <a href="" class="text-white mb-3">LINKEDIN </a>
          </div>
        </div>
      </div>
    </div>
    <div class="transform my-0 my-md-4 py-5">
      <h5 class="position-relative pb-3">
        Let’s talk. We’re eager to learn more about you and your goals.
      </h5>
    </div>
  </div>
  <div class="container transform">
    <form>
      <div class="row">
        <div class="col-6">
          <div class="mb-4 d-flex justify-content-start align-items-center">
            <input
              type="text"
              name="First Name"
              id="First Name"
              class="form-control  "
              placeholder="First Name"
              aria-describedby="helpId"
            />
          </div>
        </div>
        <div class="col-6">
          <div class="mb-4 d-flex justify-content-start align-items-center">
            <input
              type="text"
              name="Last name"
              id="Last name"
              class="form-control  "
              placeholder="Last name"
              aria-describedby="helpId"
            />
          </div>
        </div>
        <div class="col-6">
          <div class="mb-4 d-flex justify-content-start align-items-center">
            <input
              type="text"
              name="Email Address"
              id="Email Address"
              class="form-control  "
              placeholder="Email Address"
              aria-describedby="helpId"
            />
          </div>
        </div>
        <div class="col-6">
          <div class="mb-4 d-flex justify-content-start align-items-center">
            <input
              type="text"
              name="Phone number"
              id="Phone number"
              class="form-control  "
              placeholder="Phone number"
              aria-describedby="helpId"
            />
          </div>
        </div>
        <div class="col-12">
          <div class="mb-4 d-flex justify-content-start align-items-center">
            <input
              type="text"
              name="Subject"
              id="Subject"
              class="form-control  "
              placeholder="Subject"
              aria-describedby="helpId"
            />
          </div>
        </div>
        <div class="col-12">
          <div class="mb-4 d-flex justify-content-start align-items-start">
            <textarea
              name="Message"
              id="Message"
              class="form-control "
              placeholder="Message"
              aria-describedby="helpId"
              cols="30"
              rows="10"
            ></textarea>
          </div>
        </div>
        <div class="col-12">
          <div class="d-flex justify-content-between pt-4">
            <div class="form-check d-flex justify-content-center align-items-center">
              <input class="form-check-input m-0" type="checkbox" value="" id="" />
              <label class="form-check-label ms-3 mb-0" for="">
                Receive last offers from CloudPro
              </label>
            </div>
            <button type="submit" class="btn btn-primary px-5 py-2">SEND</button>
          </div>
        </div>
      </div>






    </form>
  </div>
</div>
<app-footer></app-footer>
