<div id="it-service2">
  <app-navbar
    [button]="false"
    header="IT services are the activities that enable 
    businesses to access"
    text="We’ll take care of all your corporate IT requirements with our extensive IT, cloud, networking, and cybersecurity knowledge."
    height="sec-height2"
    image="landing-img"
  ></app-navbar>
  <div class="sec1 container">
    <div class="transform">
      <div
        class="card card1 p-5 d-flex justify-content-center align-items-md-start align-items-center flex-column"
      >
        <div class="d-flex justify-content-between w-100">
          <h6 class="d-flex justify-content-center align-items-center m-0">
            HOME / IT SERVICES
          </h6>
          <div
            class="col-md-4 d-flex justify-content-center align-items-center"
          >
            <a href="" class="btn text-white bg-transparent px-4 py-2"
              >Connect us</a
            >
          </div>
        </div>
        <h1 class="my-5">Cloud Computing</h1>
        <p class="pe-4">
          Cloud computing service is a type of IT service where a provider
          delivers various IT resources over the internet or a dedicated cloud
          network. The resources may include software applications, data
          storage, computing power, and networking capabilities. The provider
          charges the business based on the usage or subscription of the
          resources.
        </p>
      </div>
    </div>
    <div class="transform my-0 my-md-4 py-5">
      <h5 class="position-relative pb-3">
        Some benefits of cloud computing service are:
      </h5>
    </div>
  </div>
  <div id="sec2" class="transform">
    <div class="row">
      <div class="col-md-7">
        <div
          class="p-5 d-flex justify-content-center align-items-center flex-column"
        >
          <div class="mb-4 d-flex align-items-baseline">
            <img src="assets/images/Right arrow.svg" class="pe-4" alt="" />
            <p>
              IT reduces the cost and complexity of owning and maintaining IT
              infrastructure and systems.
            </p>
          </div>
          <div class="mb-4 d-flex align-items-baseline">
            <img src="assets/images/Right arrow.svg" class="pe-4" alt="" />
            <p>
              IT reduces the cost and complexity of owning and maintaining IT
              infrastructure and systems.
            </p>
          </div>
          <div class="mb-4 d-flex align-items-baseline">
            <img src="assets/images/Right arrow.svg" class="pe-4" alt="" />
            <p>
              IT reduces the cost and complexity of owning and maintaining IT
              infrastructure and systems.
            </p>
          </div>
          <div class="mb-4 d-flex align-items-baseline">
            <img src="assets/images/Right arrow.svg" class="pe-4" alt="" />
            <p>
              IT reduces the cost and complexity of owning and maintaining IT
              infrastructure and systems.
            </p>
          </div>
          <div class="mb-4 d-flex align-items-baseline">
            <img src="assets/images/Right arrow.svg" class="pe-4" alt="" />
            <p>
              IT reduces the cost and complexity of owning and maintaining IT
              infrastructure and systems.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-5 bg-img"></div>
    </div>
  </div>
  <div class="transform my-0 my-md-4 py-5 container">
    <h5 class="position-relative pb-3">
      Some examples of cloud computing service are:
    </h5>
  </div>
  <div class="sec3 transform container">
    <div class="row">
      <div class="col-6 d-flex justify-content-center align-items-center">
        <img src="assets/images/image20.svg" class="w-25" alt="" />
      </div>
      <div class="col-6">
        <h6 class="position-relative pb-3">Software as a Service (SaaS):</h6>
        <p class="pe-5">
          This is a type of cloud computing service where a provider hosts and
          manages software applications on its servers and delivers them to
          users over the internet. Users can access the applications through a
          web browser or a mobile app without installing or updating them on
          their devices. Some popular SaaS applications are Microsoft Office
          365, Google Workspace, Salesforce, Zoom, and Netflix.
        </p>
      </div>
    </div>
    <div class="row pt-4">
        <div class="col-6 d-flex justify-content-center align-items-center">
          <img src="assets/images/image20.svg" class="w-25" alt="" />
        </div>
        <div class="col-6">
          <h6 class="position-relative pb-3">Platform as a Service (PaaS):</h6>
          <p class="pe-5">
            This is a type of cloud computing service where a provider hosts and
            manages software applications on its servers and delivers them to
            users over the internet. Users can access the applications through a
            web browser or a mobile app without installing or updating them on
            their devices. Some popular SaaS applications are Microsoft Office
            365, Google Workspace, Salesforce, Zoom, and Netflix.
          </p>
        </div>
      </div>
    <div class="row border-0 pt-4">
      <div class="col-6 d-flex justify-content-center align-items-center">
        <img src="assets/images/image20.svg" class="w-25" alt="" />
      </div>
      <div class="col-6">
        <h6 class="position-relative pb-3">Infrastructure as a Service (IaaS):</h6>
        <p class="pe-5">
          This is a type of cloud computing service where a provider hosts and
          manages software applications on its servers and delivers them to
          users over the internet. Users can access the applications through a
          web browser or a mobile app without installing or updating them on
          their devices. Some popular SaaS applications are Microsoft Office
          365, Google Workspace, Salesforce, Zoom, and Netflix.
        </p>
      </div>
    </div>

  </div>
</div>
<app-footer></app-footer>
