<div id="software-development">
  <app-navbar
    [button]="false"
    header="IT services are the activities that enable 
      businesses to access"
    text="We’ll take care of all your corporate IT requirements with our extensive IT, cloud, networking, and cybersecurity knowledge."
    height="sec-height2"
    image="softwar-development"
  ></app-navbar>
  <div class="sec1 container">
    <div class="transform">
      <div
        class="card card1 p-5 d-flex justify-content-center align-items-md-start align-items-center flex-column"
      >
        <div class="d-flex justify-content-between w-100">
          <h6 class="d-flex justify-content-center align-items-center m-0">
            HOME / IT SERVICES/ SOFTWARE DEVELOPMENT
          </h6>
          <div
            class="col-md-4 d-flex justify-content-center align-items-center"
          >
            <a href="" class="btn text-white bg-transparent px-4 py-2"
              >Connect us</a
            >
          </div>
        </div>
        <h1 class="my-5">Software Development</h1>
        <p class="pe-4">
          process of creating software applications, frameworks, or tools using
          programming languages and other technologies. Software development can
          be done for various purposes, such as solving problems, meeting
          specific needs, or providing entertainment. Software development is a
          dynamic and creative field that requires various skills and knowledge.
        </p>
      </div>
    </div>
    <div class="transform my-0 my-md-4 py-5">
      <h5 class="position-relative pb-3">
        Some of the skills and knowledge that software developers need are:
      </h5>
    </div>
  </div>
  <div id="sec2" class="transform">
    <div class="row border-0 bg-color">
      <div class="col-md-7">
        <div
          class="p-5 d-flex justify-content-center align-items-start flex-column"
        >
          <div class="mb-4 d-flex align-items-baseline flex-column">
            <h6 class="pb-3 mb-5">Our Services</h6>
            <h4 class="my-4 mb-5">Programming languages</h4>
            <p>
              Software developers use different programming languages to write
              the code that instructs computers what to do. Some of the most
              popular programming languages are Java, Python, C++, and Scala1.
            </p>
            <a class="my-5" href=""
              >Brief Us <img src="assets/images/arrow black.svg" alt="" />
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-5 bg-img"></div>
    </div>
    <div class="row border-0">
      <div class="col-md-5 bg-img"></div>
      <div class="col-md-7">
        <div
          class="p-5 d-flex justify-content-center align-items-start flex-column"
        >
          <div class="mb-4 d-flex align-items-baseline flex-column">
            <h6 class="pb-3 mb-5">Our Services</h6>
            <h4 class="my-4 mb-5">Software design</h4>
            <p>
              Software developers need to design the structure and architecture
              of the software they create, using models and diagrams to outline
              the logic and functionality of the code.
            </p>
            <a class="my-5" href=""
              >Brief Us <img src="assets/images/arrow black.svg" alt="" />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row border-0 bg-color">
      <div class="col-md-7">
        <div
          class="p-5 d-flex justify-content-center align-items-start flex-column"
        >
          <div class="mb-4 d-flex align-items-baseline flex-column">
            <h6 class="pb-3 mb-5">Our Services</h6>
            <h4 class="my-4 mb-5">Software testing</h4>
            <p>
              Software developers need to test their software to ensure that it
              works as intended, without errors or bugs. They use various tools
              and methods to check the quality and performance of the software.
            </p>
            <a class="my-5" href=""
              >Brief Us <img src="assets/images/arrow black.svg" alt="" />
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-5 bg-img"></div>
    </div>
    <div class="row border-0">
      <div class="col-md-5 bg-img"></div>
      <div class="col-md-7">
        <div
          class="p-5 d-flex justify-content-center align-items-start flex-column"
        >
          <div class="mb-4 d-flex align-items-baseline flex-column">
            <h6 class="pb-3 mb-5">Our Services</h6>
            <h4 class="my-4 mb-5">Software maintenance</h4>
            <p>
              Software developers need to update and improve their software to
              fix any issues, add new features, or adapt to changing
              requirements. They use documentation and version control to keep
              track of the changes and modifications they make.
            </p>
            <a class="my-5" href=""
              >Brief Us <img src="assets/images/arrow black.svg" alt="" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
