<app-navbar
  [button]="true"
  header="We innovate technology."
  text="We’ll take care of all your corporate IT requirements with our extensive IT, cloud, networking, and cybersecurity knowledge."
  height="sec-height1"
  image="landing-img"
></app-navbar>
<!--  
  <div class="bg-color"></div>
  <div class="container">
    <div class="row gy-4">

  
      <div class="col-md-6 col-lg-3 col-12 animate">
        <div class="card w-100">
          <div
            class="card-header p-4 mt-4 mx-3 d-flex align-items-center align-items-md-start justify-content-center flex-column"
          >
            <img src="assets/images/Layer 6.svg" class="mb-4 w-100" alt="" />
            <h3 class="mb-4 text-md-start text-center">Managed Services</h3>
          </div>
 
        </div>
      </div>
      <div class="col-md-6 col-lg-3 col-12 animate">
        <div class="card w-100">
          <div
            class="card-header p-4 mt-4 mx-3 d-flex align-items-center align-items-md-start justify-content-center flex-column"
          >
            <img src="assets/images/Layer 7.svg" class="mb-4 w-100" alt="" />

            <h3 class="mb-4 text-md-start text-center">
              It Consulting & Advisors
            </h3>
          </div>
        
        </div>
      </div>
      <div class="col-md-6 col-lg-3 col-12 animate">
       <a routerLink="/it-service">
        <div class="card w-100">
          <div
            class="card-header p-4 mt-4 mx-3 d-flex align-items-center align-items-md-start justify-content-center flex-column"
          >
            <img src="assets/images/Layer 8.svg" class="mb-4 w-100" alt="" />

            <h3 class="mb-4 text-md-start text-center">Cyber Security</h3>
          </div>
        
        </div>
       </a>
      </div>
      <div class="col-md-6 col-lg-3 col-12 animate">
        <div class="card w-100">
          <div
            class="card-header p-4 mt-4 mx-3 d-flex align-items-center align-items-md-start justify-content-center flex-column"
          >
            <img src="assets/images/Layer 8.svg" class="mb-4 w-100" alt="" />

            <h3 class="mb-4 text-md-start text-center">Cyber Security</h3>
          </div>
        
        </div>
      </div>
    </div>
    <div class="row mt-5 gy-4">
      <div class="col-lg-8">
        <div class="text mb-5">
          <img src="assets/images/“.svg" alt="" class="d-inline img1" />
          <p class="d-inline">
            Global Information Technology Solutions that empower your business,
            support your mission and drive you into the future.
          </p>
          <img src="assets/images/img222.svg" class="img2" alt="" />
        </div>
      </div>
      <div class="col-md-4 d-flex justify-content-center align-items-center">
        <a routerLink="/contact" class="btn text-white bg-transparent px-4 py-2"
          >Connect us</a
        >
      </div>
    </div>
  </div>
</div> -->
<div id="sec3">
  <div
    class="container w-100 d-flex justify-content-center align-items-center flex-column text-center py-5"
  >
    <h3 class="text-center">Our Most Popular Tech Services</h3>
    <p class="text-center w-50 my-3 mb-5">
      A cloud-based and AI-powered IT service management platform built to
      maximize productivity and accelerate resolution with lightning-fast time
      to value
    </p>
    <div class="row gy-4 w-100 justify-content-center">
      <div class="col-md-6 col-lg-3 col-12">
        <div class="card w-100">
          <div
            class="card-header bg-transparent p-4 mt-4 mx-3 d-flex align-items-center align-items-md-start justify-content-center flex-column"
          >
            <img src="assets/images/profile.svg" class="mb-3 w-25" alt="" />
            <h3 class="mb-4 text-md-start text-center">Managed Services</h3>
          </div>
          <div
            class="card-body d-flex align-items-center align-items-md-start justify-content-center flex-column"
          >
            <p class="text-md-start text-center my-4 pb-5">
              A cloud-based and AI-powered IT service management platform built
              to maximize productivity and accelerate resolution with
              lightning-fast time to value
            </p>
            <!-- <a href="" class="text-decoration-none mb-4"
              >Read more <img src="assets/images/Line.svg" class="ms-4" alt=""
            /></a> -->
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 col-12">
        <div class="card w-100">
          <div
            class="card-header bg-transparent p-4 mt-4 mx-3 d-flex align-items-center align-items-md-start justify-content-center flex-column"
          >
            <img src="assets/images/united.svg" class="mb-3 w-25" alt="" />
            <h3 class="mb-4 text-md-start text-center">
              It Consulting & Advisors
            </h3>
          </div>
          <div
            class="card-body d-flex align-items-center align-items-md-start justify-content-center flex-column"
          >
            <p class="text-md-start text-center my-4 pb-5">
              A cloud-based and AI-powered IT service management platform built
              to maximize productivity and accelerate resolution with
              lightning-fast time to value
            </p>
            <!-- <a href="" class="text-decoration-none mb-4"
              >Read more <img src="assets/images/Line.svg" class="ms-4" alt=""
            /></a> -->
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 col-12">
        <div class="card w-100">
          <div
            class="card-header bg-transparent p-4 mt-4 mx-3 d-flex align-items-center align-items-md-start justify-content-center flex-column"
          >
            <img src="assets/images/security.svg" class="mb-3 w-25" alt="" />
            <h3 class="mb-4 text-md-start text-center">Cyber Security</h3>
          </div>
          <div
            class="card-body d-flex align-items-center align-items-md-start justify-content-center flex-column"
          >
            <p class="text-md-start text-center my-4 pb-5">
              A cloud-based and AI-powered IT service management platform built
              to maximize productivity and accelerate resolution with
              lightning-fast time to value
            </p>
            <!-- <a href="" class="text-decoration-none mb-4"
              >Read more <img src="assets/images/Line.svg" class="ms-4" alt=""
            /></a> -->
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 col-12">
        <div class="card w-100">
          <div
            class="card-header bg-transparent p-4 mt-4 mx-3 d-flex align-items-center align-items-md-start justify-content-center flex-column"
          >
            <img src="assets/images/security.svg" class="mb-3 w-25" alt="" />
            <h3 class="mb-4 text-md-start text-center">Cyber Security</h3>
          </div>
          <div
            class="card-body d-flex align-items-center align-items-md-start justify-content-center flex-column"
          >
            <p class="text-md-start text-center my-4 pb-5">
              A cloud-based and AI-powered IT service management platform built
              to maximize productivity and accelerate resolution with
              lightning-fast time to value
            </p>
            <!-- <a href="" class="text-decoration-none mb-4"
              >Read more <img src="assets/images/Line.svg" class="ms-4" alt=""
            /></a> -->
          </div>
        </div>
      </div>
    </div>
    <h6 class="mt-4 d-flex">
      Let your business be an innovation addict
      <span class="ms-2"
        >EXPLORE ALL SERVICES
        <a href="" class="read-more ms-4"
          ><img src="assets/images/right.svg" class="w-75" alt="" /></a
      ></span>
    </h6>
  </div>
</div>
<div id="sec4">
  <div class="row">
    <div class="col-md-6">
      <div
        class="p-5 d-flex justify-content-center align-items-start flex-column"
      >
        <span class="mb-3">Digitally Yours.</span>
        <h3>Tackling Business Challenges With Technology</h3>
        <p class="mt-4">
          Backup, archiving and recovery solutions delivered at scale to power
          your business defenseBackup, archiving and recovery solutions
          delivered at scale to power your business defense
        </p>
        <div class="row">
          <div class="col-6">
            <div class="card border-0 w-100">
              <div
                class="card-header border-0 py-4 mt-4 ps-0 d-flex align-items-center align-items-md-start justify-content-start flex-column"
              >
                <img
                  src="assets/images/programmer.svg"
                  class="mb-4 mb-md-3 w-25"
                  alt=""
                />
                <h3 class="text-md-start text-center">Exceptional User</h3>
              </div>
              <div
                class="card-body ps-0 d-flex align-items-center align-items-md-start justify-content-center flex-column"
              >
                <p class="text-md-start text-center mb-4 pb-5">
                  A cloud-based and AI-powered IT service management platform
                  built to maximize productivity and accelerate resolution with
                  lightning-fast time to value
                </p>
                <a href="" class="read-more"
                  ><img src="assets/images/right.svg" class="w-75" alt=""
                /></a>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="card border-0 w-100">
              <div
                class="card-header border-0 py-4 mt-4 ps-0 d-flex align-items-center align-items-md-start justify-content-start flex-column"
              >
                <img
                  src="assets/images/collaborate.svg"
                  class="mb-4 w-25"
                  alt=""
                />
                <h3 class="text-md-start text-center">
                  Seamless Partner Integration
                </h3>
              </div>
              <div
                class="card-body ps-0 d-flex align-items-center align-items-md-start justify-content-center flex-column"
              >
                <p class="text-md-start text-center mb-4 pb-5">
                  A cloud-based and AI-powered IT service management platform
                  built to maximize productivity and accelerate resolution with
                  lightning-fast time to value
                </p>
                <a href="" class="read-more"
                  ><img src="assets/images/right.svg" class="w-75" alt=""
                /></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 bg-img"></div>
  </div>
</div>
<div id="sec5">
  <div
    class="container w-100 d-flex justify-content-center align-items-center flex-column text-center py-5"
  >
    <h3 class="text-center">
      Cloud Data Backup for Business Continuity and Compliance
    </h3>
    <p class="text-center w-50 my-3 mb-5">
      A cloud-based and AI-powered IT service management platform built to
      maximize productivity and accelerate resolution with lightning-fast time
      to value
    </p>
    <div class="row gy-4 w-100 justify-content-center">
      <div class="col-md-6 col-lg-4 col-12">
        <div class="card w-100">
          <div
            class="card-header p-4 mt-4 mx-3 d-flex align-items-center align-items-md-start justify-content-center flex-column"
          >
            <img src="assets/images/Layer 6.svg" class="mb-4 w-100" alt="" />
            <h3 class="mb-4 text-md-start text-center">Managed Services</h3>
          </div>
          <div
            class="card-body d-flex align-items-center align-items-md-start justify-content-center flex-column"
          >
            <p class="text-md-start text-center my-4 pb-5">
              A cloud-based and AI-powered IT service management platform built
              to maximize productivity and accelerate resolution with
              lightning-fast time to value
            </p>
            <a href="" class="text-decoration-none mb-4"
              >Read more <img src="assets/images/Line.svg" class="ms-4" alt=""
            /></a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-12">
        <div class="card w-100">
          <div
            class="card-header p-4 mt-4 mx-3 d-flex align-items-center align-items-md-start justify-content-center flex-column"
          >
            <img src="assets/images/Layer 7.svg" class="mb-4 w-100" alt="" />

            <h3 class="mb-4 text-md-start text-center">
              It Consulting & Advisors
            </h3>
          </div>
          <div
            class="card-body d-flex align-items-center align-items-md-start justify-content-center flex-column"
          >
            <p class="text-md-start text-center my-4 pb-5">
              A cloud-based and AI-powered IT service management platform built
              to maximize productivity and accelerate resolution with
              lightning-fast time to value
            </p>
            <a href="" class="text-decoration-none mb-4"
              >Read more <img src="assets/images/Line.svg" class="ms-4" alt=""
            /></a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-12">
        <div class="card w-100">
          <div
            class="card-header p-4 mt-4 mx-3 d-flex align-items-center align-items-md-start justify-content-center flex-column"
          >
            <img src="assets/images/Layer 8.svg" class="mb-4 w-100" alt="" />

            <h3 class="mb-4 text-md-start text-center">Cyber Security</h3>
          </div>
          <div
            class="card-body d-flex align-items-center align-items-md-start justify-content-center flex-column"
          >
            <p class="text-md-start text-center my-4 pb-5">
              A cloud-based and AI-powered IT service management platform built
              to maximize productivity and accelerate resolution with
              lightning-fast time to value
            </p>
            <a href="" class="text-decoration-none mb-4"
              >Read more <img src="assets/images/Line.svg" class="ms-4" alt=""
            /></a>
          </div>
        </div>
      </div>
    </div>
    <h6 class="mt-4 d-flex">
      Let your business be an innovation addict
      <span class="ms-2"
        >EXPLORE ALL SERVICES
        <a href="" class="read-more ms-4"
          ><img src="assets/images/right.svg" class="w-75" alt="" /></a
      ></span>
    </h6>
  </div>
</div>
<div id="sec6">
  <div class="container py-5">
    <div class="row g-5">
      <div
        class="col-md-6 d-flex flex-column justify-content-center align-items-center"
      >
        <img src="assets/images/Layer 10.svg" class="w-100" alt="" />
        <h5 class="text-center mt-5">
          Intuitive and affordable backup solutions that help companies
          safeguard their business data.
        </h5>
      </div>
      <div class="col-md-6">
        <h3 class="mb-5">
          How CloudPro help of your Business Grow and Succeessful
        </h3>
        <div
          class="position-relative d-flex justify-content-center align-items-start mb-4"
        >
          <div class="me-4 d-flex flex-column align-items-center">
            <a href="" class="read-more"
              ><img src="assets/images/right.svg" class="w-75" alt=""
            /></a>
            <div class="line mt-2"></div>
          </div>
          <div>
            <h4>Stick to your budget</h4>
            <p>
              Backup, archiving and recovery solutions delivered at scale to
              power your business defenseBackup, archiving and
            </p>
          </div>
        </div>
        <div
          class="position-relative d-flex justify-content-center align-items-start mb-4"
        >
          <div class="me-4 d-flex flex-column align-items-center">
            <a href="" class="read-more"
              ><img src="assets/images/right.svg" class="w-75" alt=""
            /></a>
            <div class="line mt-2"></div>
          </div>
          <div>
            <h4>Get quality work done quickly</h4>
            <p>
              Backup, archiving and recovery solutions delivered at scale to
              power your business defenseBackup, archiving and
            </p>
          </div>
        </div>
        <div
          class="position-relative d-flex justify-content-center align-items-start mb-4"
        >
          <div class="me-4 d-flex flex-column align-items-center">
            <a href="" class="read-more"
              ><img src="assets/images/right.svg" class="w-75" alt=""
            /></a>
            <div class="line mt-2"></div>
          </div>
          <div>
            <h4>Pay when you're happy</h4>
            <p>
              Backup, archiving and recovery solutions delivered at scale to
              power your business defenseBackup, archiving and
            </p>
          </div>
        </div>
        <div
          class="position-relative d-flex justify-content-center align-items-start mb-4"
        >
          <div class="me-4 d-flex flex-column align-items-center">
            <a href="" class="read-more"
              ><img src="assets/images/right.svg" class="w-75" alt=""
            /></a>
            <div class="line mt-2"></div>
          </div>
          <div>
            <h4>Count on 24/7 support</h4>
            <p>
              Backup, archiving and recovery solutions delivered at scale to
              power your business defenseBackup, archiving and
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="sec7">
  <div
    class="container w-100 d-flex justify-content-center align-items-center flex-column text-center py-5"
  >
    <h6 class="text-center w-50 my-3">Get pro support</h6>
    <h3 class="text-center mb-5">Build a more successful business.</h3>
    <div class="row gy-4 w-100 justify-content-center">
      <div class="col-md-6 col-lg-4 col-12">
        <div class="card w-100">
          <div
            class="card-header border-0 bg-transparent p-4 mt-4 mx-3 d-flex align-items-center align-items-md-start justify-content-center flex-column"
          >
            <img src="assets/images/Layer 13.svg" class="mb-3 w-100" alt="" />
            <h3 class="mb-4 text-md-start text-center">Managed Services</h3>
          </div>
          <div
            class="card-body d-flex align-items-center align-items-md-start justify-content-center flex-column"
          >
            <p class="text-md-start text-center my-4 pb-5">
              A cloud-based and AI-powered IT service management platform built
              to maximize productivity and accelerate resolution with
              lightning-fast time to value
            </p>
            <a href="" class="btn btn-primary px-4 py-2 rounded-0 mb-4"
              >Read more</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-12">
        <div class="card w-100">
          <div
            class="card-header border-0 bg-transparent p-4 mt-4 mx-3 d-flex align-items-center align-items-md-start justify-content-center flex-column"
          >
            <img src="assets/images/Layer 13.svg" class="mb-3 w-100" alt="" />
            <h3 class="mb-4 text-md-start text-center">
              It Consulting & Advisors
            </h3>
          </div>
          <div
            class="card-body d-flex align-items-center align-items-md-start justify-content-center flex-column"
          >
            <p class="text-md-start text-center my-4 pb-5">
              A cloud-based and AI-powered IT service management platform built
              to maximize productivity and accelerate resolution with
              lightning-fast time to value
            </p>
            <a href="" class="btn btn-primary px-4 py-2 rounded-0 mb-4"
              >Read more</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-12">
        <div class="card w-100">
          <div
            class="card-header border-0 bg-transparent p-4 mt-4 mx-3 d-flex align-items-center align-items-md-start justify-content-center flex-column"
          >
            <img src="assets/images/Layer 13.svg" class="mb-3 w-100" alt="" />
            <h3 class="mb-4 text-md-start text-center">Cyber Security</h3>
          </div>
          <div
            class="card-body d-flex align-items-center align-items-md-start justify-content-center flex-column"
          >
            <p class="text-md-start text-center my-4 pb-5">
              A cloud-based and AI-powered IT service management platform built
              to maximize productivity and accelerate resolution with
              lightning-fast time to value
            </p>
            <a href="" class="btn btn-primary px-4 py-2 rounded-0 mb-4"
              >Read more</a
            >
          </div>
        </div>
      </div>
    </div>
    <h6 class="mt-4 d-flex">
      Let your business be an innovation addict
      <span class="ms-2"
        >EXPLORE ALL SERVICES
        <a href="" class="read-more ms-4"
          ><img src="assets/images/right.svg" class="w-75" alt="" /></a
      ></span>
    </h6>
  </div>
</div>
<app-footer></app-footer>
