<div id="it-service">
  <app-navbar
    [button]="false"
    header="IT services are the activities that enable 
businesses to access"
    text="We’ll take care of all your corporate IT requirements with our extensive IT, cloud, networking, and cybersecurity knowledge."
    height="sec-height2"
    image="landing-img"
  ></app-navbar>
  <div class="sec1 container transform">
    <div class="row g-5">
      <div class="col-12">
        <div
          class="card card1 p-5 d-flex justify-content-center align-items-md-start align-items-center flex-column"
        >
          <div class="d-flex justify-content-between w-100">
            <h6 class="d-flex justify-content-center align-items-center m-0">
              HOME / IT SERVICES
            </h6>
            <div
              class="col-md-4 d-flex justify-content-center align-items-center"
            >
              <a href="" class="btn text-white bg-transparent px-4 py-2"
                >Connect us</a
              >
            </div>
          </div>
          <h1 class="my-5">IT SERVICES</h1>
          <p class="pe-4">
            IT services are the activities that enable businesses to access and
            use the technical tools and information they need for their
            operations and tasks. IT services can be provided by internal teams
            or external contractors, depending on the needs and resources of the
            business. Some common types of IT services are:
          </p>
        </div>
      </div>
      <div class="col-6">
        <div
          class="card card-2 border-0 rounded-0 p-4 d-flex flex-column justify-content-center align-items-center align-items-md-start"
        >
          <div class="d-flex my-3 justify-content-center align-items-center">
            <a href="" class="read-more"
              ><img src="assets/images/right.svg" class="img1 w-75" alt="" />
              <img
                src="assets/images/arrow black.svg"
                class="img2 d-none w-75"
                alt=""
            /></a>
            <h3 class="ms-4 mb-0">Cloud Computing</h3>
          </div>
          <p>
            This service provides access to computing resources such as servers,
            storage, databases, and applications over the internet. Clients can
            use cloud services to store, process, and analyze data without
            having to invest in their own infrastructure.
          </p>
          <a href="" class="text-decoration-none mb-4"
            >Read more
            <img src="assets/images/Line.svg" class="img1 ms-4" alt="" />
            <img
              src="assets/images/arrow-black.svg"
              class="img3 ms-4 d-none"
              alt=""
          /></a>
        </div>
      </div>
      <div class="col-6">
        <div
          class="card card-2 border-0 rounded-0 p-4 d-flex flex-column justify-content-center align-items-center align-items-md-start"
        >
          <div class="d-flex my-3 justify-content-center align-items-center">
            <a href="" class="read-more"
              ><img src="assets/images/right.svg" class="img1 w-75" alt="" />
              <img
                src="assets/images/arrow black.svg"
                class="img2 d-none w-75"
                alt=""
            /></a>
            <h3 class="ms-4 mb-0">Backup solutions</h3>
          </div>
          <p>
            This service provides access to computing resources such as servers,
            storage, databases, and applications over the internet. Clients can
            use cloud services to store, process, and analyze data without
            having to invest in their own infrastructure.
          </p>
          <a href="" class="text-decoration-none mb-4"
            >Read more
            <img src="assets/images/Line.svg" class="img1 ms-4" alt="" />
            <img
              src="assets/images/arrow-black.svg"
              class="img3 ms-4 d-none"
              alt=""
          /></a>
        </div>
      </div>
      <div class="col-6">
        <div
          class="card card-2 border-0 rounded-0 p-4 d-flex flex-column justify-content-center align-items-center align-items-md-start"
        >
          <div class="d-flex my-3 justify-content-center align-items-center">
            <a href="" class="read-more"
              ><img src="assets/images/right.svg" class="img1 w-75" alt="" />
              <img
                src="assets/images/arrow black.svg"
                class="img2 d-none w-75"
                alt=""
            /></a>
            <h3 class="ms-4 mb-0">Security Services</h3>
          </div>
          <p>
            This service provides access to computing resources such as servers,
            storage, databases, and applications over the internet. Clients can
            use cloud services to store, process, and analyze data without
            having to invest in their own infrastructure.
          </p>
          <a href="" class="text-decoration-none mb-4"
            >Read more
            <img src="assets/images/Line.svg" class="img1 ms-4" alt="" />
            <img
              src="assets/images/arrow-black.svg"
              class="img3 ms-4 d-none"
              alt=""
          /></a>
        </div>
      </div>
      <div class="col-6">
        <div
          class="card card-2 border-0 rounded-0 p-4 d-flex flex-column justify-content-center align-items-center align-items-md-start"
        >
          <div class="d-flex my-3 justify-content-center align-items-center">
            <a href="" class="read-more"
              ><img src="assets/images/right.svg" class="img1 w-75" alt="" />
              <img
                src="assets/images/arrow black.svg"
                class="img2 d-none w-75"
                alt=""
            /></a>
            <h3 class="ms-4 mb-0">Software Development</h3>
          </div>
          <p>
            This service provides access to computing resources such as servers,
            storage, databases, and applications over the internet. Clients can
            use cloud services to store, process, and analyze data without
            having to invest in their own infrastructure.
          </p>
          <a href="" class="text-decoration-none mb-4"
            >Read more
            <img src="assets/images/Line.svg" class="img1 ms-4" alt="" />
            <img
              src="assets/images/arrow-black.svg"
              class="img3 ms-4 d-none"
              alt=""
          /></a>
        </div>
      </div>
      <div class="col-6">
        <div
          class="card card-2 border-0 rounded-0 p-4 d-flex flex-column justify-content-center align-items-center align-items-md-start"
        >
          <div class="d-flex my-3 justify-content-center align-items-center">
            <a href="" class="read-more"
              ><img src="assets/images/right.svg" class="img1 w-75" alt="" />
              <img
                src="assets/images/arrow black.svg"
                class="img2 d-none w-75"
                alt=""
            /></a>
            <h3 class="ms-4 mb-0">Systems Integration</h3>
          </div>
          <p>
            This service provides access to computing resources such as servers,
            storage, databases, and applications over the internet. Clients can
            use cloud services to store, process, and analyze data without
            having to invest in their own infrastructure.
          </p>
          <a href="" class="text-decoration-none mb-4"
            >Read more
            <img src="assets/images/Line.svg" class="img1 ms-4" alt="" />
            <img
              src="assets/images/arrow-black.svg"
              class="img3 ms-4 d-none"
              alt=""
          /></a>
        </div>
      </div>
      <div class="col-6">
        <div
          class="card card-2 border-0 rounded-0 p-4 d-flex flex-column justify-content-center align-items-center align-items-md-start"
        >
          <div class="d-flex my-3 justify-content-center align-items-center">
            <a href="" class="read-more"
              ><img src="assets/images/right.svg" class="img1 w-75" alt="" />
              <img
                src="assets/images/arrow black.svg"
                class="img2 d-none w-75"
                alt=""
            /></a>
            <h3 class="ms-4 mb-0">Hardware Deployment</h3>
          </div>
          <p>
            This service provides access to computing resources such as servers,
            storage, databases, and applications over the internet. Clients can
            use cloud services to store, process, and analyze data without
            having to invest in their own infrastructure.
          </p>
          <a href="" class="text-decoration-none mb-4"
            >Read more
            <img src="assets/images/Line.svg" class="img1 ms-4" alt="" />
            <img
              src="assets/images/arrow-black.svg"
              class="img3 ms-4 d-none"
              alt=""
          /></a>
        </div>
      </div>
      <div class="col-6">
        <div
          class="card card-2 border-0 rounded-0 p-4 d-flex flex-column justify-content-center align-items-center align-items-md-start"
        >
          <div class="d-flex my-3 justify-content-center align-items-center">
            <a href="" class="read-more"
              ><img src="assets/images/right.svg" class="img1 w-75" alt="" />
              <img
                src="assets/images/arrow black.svg"
                class="img2 d-none w-75"
                alt=""
            /></a>
            <h3 class="ms-4 mb-0">Cloud Computing</h3>
          </div>
          <p>
            This service provides access to computing resources such as servers,
            storage, databases, and applications over the internet. Clients can
            use cloud services to store, process, and analyze data without
            having to invest in their own infrastructure.
          </p>
          <a href="" class="text-decoration-none mb-4"
            >Read more
            <img src="assets/images/Line.svg" class="img1 ms-4" alt="" />
            <img
              src="assets/images/arrow-black.svg"
              class="img3 ms-4 d-none"
              alt=""
          /></a>
        </div>
      </div>
      <div class="col-6">
        <div
          class="card card-2 border-0 rounded-0 p-4 d-flex flex-column justify-content-center align-items-center align-items-md-start"
        >
          <div class="d-flex my-3 justify-content-center align-items-center">
            <a href="" class="read-more"
              ><img src="assets/images/right.svg" class="img1 w-75" alt="" />
              <img
                src="assets/images/arrow black.svg"
                class="img2 d-none w-75"
                alt=""
            /></a>
            <h3 class="ms-4 mb-0">IT Outsourcing</h3>
          </div>
          <p>
            This service provides access to computing resources such as servers,
            storage, databases, and applications over the internet. Clients can
            use cloud services to store, process, and analyze data without
            having to invest in their own infrastructure.
          </p>
          <a href="" class="text-decoration-none mb-4"
            >Read more
            <img src="assets/images/Line.svg" class="img1 ms-4" alt="" />
            <img
              src="assets/images/arrow-black.svg"
              class="img3 ms-4 d-none"
              alt=""
          /></a>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer class="transform"></app-footer>
